
.story-slider-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;



}

.story-slider-wrapper .story-slider{
    width: 480px;
    height: 90vh;
    background-image: linear-gradient(rgb(151 145 145 / 18%), rgb(98 98 102 / 44%));
    border-radius: 10px;
    transform: translate(0px, -30px);
    
}

.story-slider-wrapper .story-slider .slider-item{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

.story-slider-wrapper .story-slider .slider-item .topbar-progress-wrapper{
  display: flex;
  gap: 5px;
  margin: 0 10px;
}

.story-slider-wrapper .story-slider .slider-item .topbar-progress-wrapper .bars-item{
    width: 100%;
    height: 5px;
    background-color: #8b8b8b;
    transform: translate(0, 10px);
    overflow: hidden;
}

.story-slider-wrapper .story-slider .slider-item .topbar-progress-wrapper .bars-item .progress{
    background-color: #fff;
    width: 0%;
    
}

@keyframes animationLoader {
    0%{
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.story-slider-wrapper .story-slider .slider-item .topbar-progress-wrapper .bars-item.active .progress{
    /* background-color: #fff; */
    height: 5px;
    width: 100%;
    animation: 5s animationLoader; 
}
.story-slider-wrapper .story-slider .slider-item .topbar-progress-wrapper .bars-item.viewd .progress{
    width: 100%;
    height: 5px;
}


.navbar-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

.navbar-wrapper .prev button{
    font-size: 30px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translate(-80px, 0);
    transition: .3s;
}

.navbar-wrapper .next{

}
.navbar-wrapper .next button{
    font-size: 30px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: translate(80px, 0);
    transition: .3s;
}

.navbar-wrapper .next button:hover{
    transform: translate(85px, 0);
    background-color: #ccc;
}
.navbar-wrapper .prev button:hover{
    transform: translate(-85px, 0);
    background-color: #ccc;
}

